body {

    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background-color: lavenderblush; 


}
header {
    background-color: lavenderblush; 
    color:blue;
    padding: 10px 20px;
    text-align: center;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lavenderblush; 
}

nav li {
    float: left;

}


nav li a {

    display: block;
    text-align: center;
    padding: 14px 16px;
    color:blue;
    text-decoration: none;

}

nav li a:hoover {
    background-color: lavenderblush;
    
}
main{
    padding: 20px;
    text-align: center;
}

footer{
    text-align: center;
    padding: 10px 0;
    background-color: lavenderblush; 
    color:blue;
    position: fixed;
    width: 100%;
    bottom: 0;
}

section{
    margin-bottom: 20px;
}